<h1>Welcome to a Shared Blog!</h1>
  {{#each allPosts}}
    <main>
      <header class="postHead">
        <h2><a href="/blog/{{_id}}">{{title}}</a></h2>
        <h3> by {{author}}</h3>
      </header>
      <body class="postBody">
        <p>{{blogPost}}</p>
      </body>
      <footer class="postFoot">
        <h3>Comments</h3>
           {{#each comments}}
             <h4>{{commentText}} by {{commentName}}</h4>
             {{/each}}
             <a href="/blog/{{_id}}/comments">Edit Comment</a>
            {{/each}}
      </footer>
    </main>

    <a href="blog/new">New Post</a>
