<h1>Welcome to g8's Shared Blog</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Post</th>
    </tr>
  </thead>
  <tbody>
    {{#each allPosts}}
    <tr>
      <td>{{title}}</td>
      <td>{{author}}</td>
      <td>{{blogPost}}</td>
    </tr>
    <a href="/blog/{{_id}}">Go To Post</a>
  </tbody>
</table>

<h3>Comments</h3>
   {{#each comments}}
   <h4>{{commentText}} by {{commentName}}</h4>
   <a href="blog/{{_id}}/comments">Edit Comment</a>
 </aside>
  {{/each}}
  {{/each}}




<a href="blog/new">New Post</a>
